* {
  box-sizing: border-box;
}

.homepage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.homepage * {
  margin-bottom: 0;
  padding: 0;
}

.logo {
  color: brown;
  text-decoration: none;
}

.sign-up {
  color: brown;
  vertical-align: middle;
}

li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 0.5em;
}

.footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: brown;
  text-align: center;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 732px) {
  .homepage {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  .navigation {
    display: flex;
  }
  .registration {
    display: flex;
  }
  li {
    padding-left: 0.8em;
    margin: 0 0.5em;
  }
  .footer {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: brown;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
