.square {
    height: 200px;
    width: 200px;
}

.resources-list {
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
}

.resources-item {
    margin: 0 auto;
}